<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF=8">
<link href="https://uiux.s3.amazonaws.com/style-guide/css/style-guide.css" rel="stylesheet">
<link href="https://uiux.s3.amazonaws.com/style-guide/css/style-guide-grid.css" rel="stylesheet">
<title>404 Not Found</title>
</head>
<body>
<br>
<div class="row">
    <div class="col-6 col-start-4">
        <div class="card is-centered">
            <h2>404 Not Found</h2>
            <a href="/" class="btn btn-primary">Go back to homepage</a>
        </div>
    </div>
</div>
</body>
</html>