<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF=8">
<link href="https://uiux.s3.amazonaws.com/style-guide/css/style-guide.css" rel="stylesheet">
<link href="https://uiux.s3.amazonaws.com/style-guide/css/style-guide-grid.css" rel="stylesheet">
<link href="/assets/css/style.css" rel="stylesheet">
<script src="/assets/js/AutoExpand.js"></script>

<title>Admin</title>
</head>
<body>
<div class="body">
    {{template "header"}}
    <div class="row">
        <div class="col-10 col-start-2">
            <h2>Admin</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-4 col-start-2">
            <table class="table-wrap">
                <thead><tr><th>Legacy Contacts UserIDs</th></tr></thead>
                {{range .LegacyTickets }}
                <tr><td>{{.UserID}}</td></tr>
                {{end}}
            </table>
        </div>
        <div class="col-4 col-start-6">
            <table class="table-wrap">
                <thead><tr><th>TNE Contacts UserIDs</th></tr></thead>
                {{range .TNETickets }}
                <tr><td>{{.UserID}}</td></tr>
                {{end}}
            </table>
        </div>
    </div>
</div>
</body>
</html>