{{define "header"}}
<a href="/new">New Ticket</a> <a href="/view/open">View Open</a> <a href="/view/solved">View Solved</a> <form action="/view/" method="POST"><input type="number" name="number" placeholder="Ticket Number"><input type="submit" value="Submit"></form>
{{end}}