{{define "header"}}
<header>
    <div class="row">
        <div class="content-block"></div>
        <div class="col-2 col-start-3">
            <h2><a href="/new/">New Ticket</a></h2>
        </div>
        <div class="col-2 col-start-5">
            <h2><a href="/view/open/">View Open</a></h2>
        </div>
        <div class="col-4">
            <h2><a href="/view/solved/">View Solved</a></h2>
        </div>
    </div>
</header>
<br>
<br>
{{end}}