<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF=8">
<link href="https://uiux.s3.amazonaws.com/style-guide/css/style-guide.css" rel="stylesheet">
<link href="https://uiux.s3.amazonaws.com/style-guide/css/style-guide-grid.css" rel="stylesheet">
<link href="/assets/css/style.css" rel="stylesheet">
<title>View Tickets</title>
</head>
<body>
{{ if ( ge .SolvedTicket 1) }}
<div class="alert alert-verification">
  <p>Ticket <a href="/view/{{.SolvedTicket}}/">#{{.SolvedTicket}}</a> has been solved</p>
</div>
{{end}}
{{template "header" .Type }}
<div class="row">
  <div class="col-5 col-start-2">
      <h2>{{.Type}} Tickets</h2>
  </div>
</div>
<div class="row">
  <div class="col-9 col-start-2">
    <table class="table-wrap">
      <thead>
        <tr>
          <th>Submitted</th>
          <th>Ticket Number</th>
          <th>UserID</th>
          <th>ZenDesk Ticket</th> 
          <th>Issue Type</th>
          <th>Status</th>
        </tr>
      </thead>
      {{range .Tickets}}
      <tr>
        <td>{{.Submitted | ToDate }}</td>
        <td><a href="/view/{{.Number}}"><strong>{{.Number}}</strong></td>
        <td><a href="https://kasi.sendgrid.com/kasi/users/{{.UserID}}" target="_blank">{{.UserID}}</a></td> 
        <td><a href="https://twilio.zendesk.com/agent/tickets/{{.ZDTicket}}" target="_blank">{{.ZDTicket}}</a></td>
        <td>{{.Issue}}</td>
        <td>{{.Status}}</td>
      </tr>
      {{end}}
    </table>
    {{ if ( ge .PrevPage 1) }}
    <a class="btn btn-small btn-secondary" href="/view/{{.Type | ToLower}}/?page={{.PrevPage}}">Prev</a>
    {{end}}
    {{ if ( ge .NextPage 2) }}
    <a class="btn btn-small btn-secondary" href="/view/{{.Type | ToLower}}/?page={{.NextPage}}">Next</a>
    {{end}}
  </div>
</div>
</body>
</html>