<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF=8">
<link href="https://uiux.s3.amazonaws.com/style-guide/css/style-guide.css" rel="stylesheet">
<link href="https://uiux.s3.amazonaws.com/style-guide/css/style-guide-grid.css" rel="stylesheet">
<link href="/assets/css/style.css" rel="stylesheet">
<title>View Tickets</title>
</head>
<body>
{{template "header"}}
<div class="row">
  <div class="col-5 col-start-2">
      <h1>{{.Status.ToString}} Tickets</h1>
  </div>
  <div class="col-8 col-start-2">
    <table class="table-wrap">
      <thead>
        <tr>
          <th>Ticket Number</th>
          <th>UserID</th>
          <th>ZenDesk Ticket</th> 
          <th>Issue Type</th>
          <th>Status</th>
        </tr>
      </thead>
      {{range .Tickets}}
      <tr>
        <td><a href="/view/{{.Number}}"><strong>{{.Number}}</strong></td>
        <td><a href="https://kasi.sendgrid.com/kasi/users/{{.UserID}}" target="_blank">{{.UserID}}</a></td> 
        <td><a href="https://sendgrid.zendesk.com/agent/tickets/{{.ZDTicket}}" target="_blank">{{.ZDTicket}}</a></td>
        <td>{{.Issue.ToString}}</td>
        <td>{{.Status.ToString}}</td>
      </tr>
      {{end}}
    </table>
    {{ if .PrevButton}}
    <a class="btn btn-small btn-secondary" href="/view/{{.Status.ToString | ToLower}}/?page={{.PrevPage}}">Prev</a>
    {{end}}
    {{ if .NextButton}}
    <a class="btn btn-small btn-secondary" href="/view/{{.Status.ToString | ToLower }}/?page={{.NextPage}}">Next</a>
    {{end}}
  </div>
</div>
</body>
</html>