<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF=8">
<title>View Tickets</title>
</head>
<body>
<table>
  <tr>
    <th>Ticket Number</th>
    <th>UserID</th>
    <th>ZenDesk Ticket</th> 
    <th>Issue Type</th>
    <th>Solved</th>
  </tr>
  {{range .Tickets}}
  <tr>
    <td><a href="/view/{{.Number}}">{{.Number}}</td>
    <td><a href="https://kasi.sendgrid.com/kasi/users/{{.UserID}}" target="_blank">{{.UserID}}</a></td> 
    <td><a href="https://sendgrid.zendesk.com/agent/tickets/{{.ZDNum}}" target="_blank">{{.ZDNum}}</a></td>
    <td>{{.Issue.ToString}}</td>
    <td>{{.Solved}}</td>
  </tr>
  {{end}}
</table>
{{ if .NextButton}}
 <a href="/view/open?last_ticket={{.LastTicket}}">NEXT</a>
{{end}}
</body>
</html>