<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF=8">
<title>New ticket</title>
</head>
<body>
{{template "header"}}
<h1>New ticket</h1>
<form action="/create" method="POST">
    <p>ZenDesk Ticket Number: <input type="number" name="zdnum"></p>
    <p>UserID: <input type="number" name="userid"></p>
    <p>
        Issue:
        <select name="issue">
            <option disabled selected value> -- select an option -- </option>
            <option value="0">Refund</option>
            <option value="1">Billing Terminated</option>
            <option value="2">DNA FP Reactivation</option>
            <option value="3">Billing Extension</option>
        </select>
    </p>
    <p>Initials: <input type="text" name="initials"></p>
    <p>Additional Comments: <input type="text" name="comment.text"></p>
    <input type="submit" value="Submit">
</form>
</body>
</html>