<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF=8">
<title>View Ticket</title>
</head>
<body>
<h1>Ticket {{.Number}}</h1>
<p>Submitted on {{.Comment.Timestamp.Format "January 02 2006 3:04pm MST"}}
<p>Userid: {{.UserID}}</p>
<p>Zendesk Ticket: {{.ZDNum}}</p>
<p>Issue Type: {{.IssueType}}</p>
<p>Initials: {{.Initials}}</p>
<p>Solved: {{.Solved}}</p>
<p>Additional info: {{.Comment.Text}}
</body>
</html>