<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF=8">
<link href="https://uiux.s3.amazonaws.com/style-guide/css/style-guide.css" rel="stylesheet">
<link href="https://uiux.s3.amazonaws.com/style-guide/css/style-guide-grid.css" rel="stylesheet">
<link href="/assets/css/style.css" rel="stylesheet">
<title>View Ticket</title>
</head>
<body>
{{template "header"}}
<div class="row">
    <div class="col-8 col-start-2">
        <h1>Ticket {{.Number}}</h1>
        <table class="table-wrap is-auto-width">
            <tr>
                <td><strong>Submitted</strong></td>
                <td><span class="mono">{{.Comment.Timestamp | ToDateTime}}</span></td>
            </tr>
            <tr>
                <td><strong>UserID</strong></td>
                <td><span class="mono"><a href="https://kasi.sendgrid.com/kasi/users/{{.UserID}}" target="_blank">{{.UserID}}</a></span></td>
            </tr>
            <tr>
                <td><strong>Zendesk Ticket</strong></td>
                <td><span class="mono"><a href="https://sendgrid.zendesk.com/agent/tickets/{{.ZDTicket}}" target="_blank">{{.ZDTicket}}</a></span></td>
            </tr>
            <tr>
                <td><strong>Issue Type</strong></td>
                <td><span class="mono">{{.Issue.ToString}}</span></td>
            </tr>
            <tr>
                <td><strong>Initials</strong></td>
                <td><span class="mono">{{.Initials}}</span></td>
            </tr>
            <tr>
                <td><strong>Status</strong></td>
                <td><span class="mono">{{.Status.ToString}}</span></td>
            </tr>
            <tr>
                <td><strong>Additional Comments</strong></td>
                <td><span class="mono">{{.Comment.Text}}</span></td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-1 col-start-2">
    {{if (eq .Status  0)}}
        <form action="/solve/{{.Number}}" method="POST">
        <button class="btn btn-primary" name="solve" type="submit" value="solve">Solve</button>
        </form>
    {{end}}
    </div>
</div>
</body>
</html>